.searchBar {
  display: flex;
  align-items: center;
  border: 1px solid var(--light-grey);
  width: 40vw;
  height: 10vh;
  border-radius: 20px;
  background: var(--off-grey);
  margin-right: 20px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.searchBar__icon {
  color: white;
  padding-left: 15px;
}

.searchBar__input {
  padding-left: 15px;
  background: none;
  border: none;
  flex: 1;
  font-size: 30px;
  height: 100%;
  caret-color: white;
  color: white;
}

input:focus {
  outline: none;
}
