.stepper {
  background-color: var(--off-grey);
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 2px solid var(--light-grey);
  border-radius: 10px;
  margin-top: 20px;
  width: 60%;
  height: 2em;
}

.stepper__input {
  background: none;
  border: none;
  height: 100%;
  font-size: 30px;
  height: 100%;
  caret-color: white;
  color: white;
  padding: 10px 0px;
  padding-left: 15px;
  width: 50%;
}

.stepper__counter {
  background-color: #494e5c;
  padding: 7.5px 7.5px;
  border-radius: 5px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.stepper__count:hover {
  cursor: pointer;
}

.stepper__upcount {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-top: 0;
  border-bottom: 10px solid var(--light-grey);
  margin-bottom: 5px;
}

.stepper__upcount:hover {
  border-bottom: 10px solid white;
}

.stepper__upcount:active {
  border-bottom: 10px solid var(--light-grey);
}

.stepper__downcount {
  width: 0;
  height: 0;
  border: 5px solid transparent;
  border-bottom: 0;
  border-top: 10px solid var(--light-grey);
  margin-top: 5px;
}

.stepper__downcount:hover {
  border-top: 10px solid white;
}

.stepper__downcount:active {
  border-top: 10px solid var(--light-grey);
}
