.ingredient {
  height: 2em;
  display: flex;
  align-items: center;
  padding-left: 5px;
  padding-right: 25px;
  margin-top: 20px;
  margin-right: 15px;
  border: 2px solid var(--light-grey);
  background-color: var(--off-grey);
  border-radius: 10px;
  width: max-content;
  transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}

.ingredient:hover {
  border: 2px solid var(--accent-blue);
}

.ingredient__x {
  padding: 0 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  margin: 0 5px;
  font-size: 20px;
  transition: all 0.5s ease-out;
}

.ingredient__x:hover {
  cursor: pointer;
  background-color: var(--dark-grey);
  border-radius: 20%;
}

.ingredient__x:active {
  background-color: var(--accent-blue);
}
