* {
  margin: 0;
  --dark-grey: #222529;
  --off-grey: #323741;
  --light-grey: #a1a6ab;
  --accent-blue: #1c5ffe;
  --accent-blue-hover: #1b5bee;
}

.app {
  height: 100vh;
  background-color: var(--dark-grey);
  font-family: "Roboto";
}
